    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Assets/Images/contact-us-concept.jpg"); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Adding transparency to the background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.639);
}

h1 {
    text-align: center;
    color: #009dff; /* Changing title color to be visible on the background */
}

.form-group {
    margin-bottom: 35px;
}

label {
    display: block;
    margin-bottom: 7px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #004cff;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #cacaca;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
